<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="navbar-item text-dark fs-1 fw-bold">Tech Talk</h1>
    </div>
    <div id="navbarMenu" class="navbar-menu text-dark fs-6 fw-bold">
      <div class="navbar-end">
        <a class="navbar-item is-active" href="/">Home</a>
        <a class="navbar-item" href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a class="navbar-item" id="logout">Logout</a>
        {{else}}
        <a class="navbar-item" href="/login">Login</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

<section class="hero bg-info is-small">
  <div class="hero-body">
    <div class="container text-center">
      <h1 class="title text-dark">Current Post</h1>
    </div>
  </div>
</section>

<div class="card article mt-5 ms-2 me-2">
  <div class="card-content">
    <div>
      <div class="text-end">
        <h4 class="text-end fw-bold">Posted by {{user.user_name}} on {{formDate singlePost.createdAt}}</h4>
      </div>
      <h3><a href="./post/{{singlePost.id}}">{{singlePost.title}}</a></h3>
    </div>
    <div>
      <p>{{singlePost.contents}}</p>
    </div>
  </div>
</div>

<div class="mt-5 text-center">
  {{#if logged_in}}
  <button class="button bg-info js-modal-trigger" data-target="comment-modal" data-id="{{singlePost.id}}">Add
    Comment</button>
  {{else}}
  <a href="/login" class="button bg-info" id="comment-login">Add Comment</a>
  {{/if}}
</div>

{{#each singlePost.comments as |comments| }}
<div class="card article mt-5 ms-2 me-2">
  <div class="comments card-content">
    <div class="text-end">
      <h4 class="text-end fw-bold">Posted by {{user.user_name}} on {{formDate comments.createdAt}}</h4>
    </div>
    <div>
      {{comments.contents}}
    </div>
  </div>
</div>
{{/each}}


<div id="comment-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <input class="input is-info" placeholder="Add a comment" id="comment"></input>
      <div class="text-end">
        <button class="button bg-info mt-5" id="add-comment">Add Comment</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="/js/modal.js"></script>
  <script src="/js/addComment.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/deletePost.js"></script>